body {
  background-image: url("themes/themeYuGiOh6.jpeg");
  background-repeat: repeat;
  background-size: cover;
  position: relative;
}

.link-container {
  display: flex;
  margin: 40px;
  justify-content: center;
  text-align: center;
}
.link-container:hover {
  text-shadow: 0px 0px 5px #00ffff;
  transition: 0.4s ease-in-out;
  filter: brightness(2.5);
  cursor: pointer;
}

.link-image {
  background: url(/images/duelMasterButton.png);
  display: inline-block;
  width: 386px;
  height: 80px;
  line-height: 84px;
  color: #ffffff;
  font-weight: bold;
  font-size: 140%;
}

.card-container {
  position: absolute;
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
.card {
  display: flex;
  height: 390px;
  border: 2px solid #000000;
}

.reveal-card {
  transform: rotateY(360deg);
  transition: transform 0.5s ease-in-out;
}
